---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects | Patrick Rall">
  <main class="projects-container">
    <p class="coming-soon-text animate-appear">
      Projects currently in staging.
    </p>
  </main>
</Layout>

<style>
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 20px;
  }

  .coming-soon-text {
    font-family: 'ABC Marist Unlicensed Trial Book', sans-serif;
    font-size: 13px;
    letter-spacing: -0.03em;
    text-align: center;
  }
</style>

